#idDashboard{
	border: 1px solid black;
	width: 500px;
	height: 500px;
}

#idPanelDashboard{
	display: inline-block; 
	margin-left: 6px;
}

#idPanelTools{
	height: 500px;
	display: inline-block; 
	border: 1px solid black; 
	width: 30px; 
	height: 500px;
}

#idPanelLayers{
	display: inline-block; 
	border: 1px solid black;
	width: 300px;
	height: 200px;
}

#idLayers{
	overflow-x: hidden;
	overflow-y: scroll;
	width: inherit; 
	height: inherit;
}

.layer{
	border: 1px solid black;
	height: 50px; 
	margin-top: 5px; 
	margin-left: 5px; 
	margin-right: 5px; 
	margin-bottom: 5px;	
}

.spanDescriptionLayer{
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 95%;
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}

.spanTrashLayer{
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 5%;
}

.imgTrashLayer{
	height: 20px; 
	width: 20px;
	cursor: pointer;
}