#idDashboard{
	border: 1px solid black;
	width: inherit;
	height: inherit;
}

#idPanelDashboard{
	display: inline-block; 
	margin-left: 6px;
	width: 500px;
	height: 500px;
}

#idPanelTools{
	height: 500px;
	display: inline-block; 
	border: 1px solid black; 
	width: 30px; 
	height: 500px;
}

#idPanelLayers{
	display: inline-block; 
	border: 1px solid black;
	width: 300px;
	height: 200px;
}

#idLayers{
	overflow-x: hidden;
	overflow-y: scroll;
	width: inherit; 
	height: 180px;
	background-color: #C0C0C0;
}

.titleBar{	
	height: 20px;
	width: inherit;
	background-color: #0000AC;
	font-family: Segoe UI;
    font-size: 12px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 1px;
    border: 1px solid white;
    display: table;
}

.layer{
	border: 1px solid black;
	height: 50px; 
	margin-top: 5px; 
	margin-left: 5px; 
	margin-right: 5px; 
	margin-bottom: 5px;
	background-color: #e6e6e6;	
}

.spanDescriptionLayer{
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 95%;
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
	font-family: Segoe UI;
    font-size: 12px;
    font-weight: bold;
}

.spanTrashLayer{
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 5%;
}

.imgTrashLayer{
	height: 20px; 
	width: 20px;
	cursor: pointer;
}

#idTitleBarLabel{
	display: table-cell;
	width: 85%;
}

.titleBarOptions{
	display: table-cell;
	width: 5%;
    text-align: center;
    cursor: pointer;
}